:root{
  --dailyComponentColor: #7887EB;
  --weeklyComponentColor: #EB775D;
  --annualyComponentColor: #46BFEB;
  --shoppingComponentColor: #EBBF2F;
  --modalColor: #3BEBAB;
  --btnBackgroundColor: #F4CE14;
  --generalLightBackgroundColor: #F3E6FF;
  --generalDarkBackgroundColor: #121212;
  --boxShadowEffect: 0px 0px 100em inset red;
}

*{
  padding: 0px;
  margin: 0px;
  border: 0px;
}

.LightTheme{
  background-color: var(--generalLightBackgroundColor);
  color: black;
  width: 100vw;
  display: flex;
}

.DarkTheme{
  background-color: var(--generalDarkBackgroundColor);
  color: white;
  display: flex;
  width: 100vw;
}