:root{
  --dailyComponentColor: #7887EB;
  --weeklyComponentColor: #EB775D;
  --annualyComponentColor: #46BFEB;
  --shoppingComponentColor: #EBBF2F;
  --modalColor: #3BEBAB;
  --btnBackgroundColor: #F4CE14;
  --generalBackgroundColor: #F9F3D9;
  --textColor: white;
  --boxShadowEffect: 0px 0px 100em inset red;
}

*{
  padding: 0px;
  margin: 0px;
  border: 0px;
}
